## Alphabet Soup Charity - Model Optimization

---

### (1) Optimising the model by increasing the number of values for each bin & removing columns

Our original model includes 43 features which and inputs which may introduce high variance and low bias for our dataset, hance, manipulating the dataset by increasing the amount of values in the bins may be necessary and valueable to finetune our model.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df_1 = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df_1.head()

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

2023-10-20 11:43:00.081144: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_1.drop(columns=['EIN', 'NAME', 'STATUS'], axis=1, inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df_1.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df_1['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace_1 = list(application_df_1['APPLICATION_TYPE'].value_counts().index)

# Replace in dataframe
for i, app in enumerate(application_types_to_replace_1):
    if i >= 8:
        application_df_1['APPLICATION_TYPE'] = application_df_1['APPLICATION_TYPE'].replace(app,"Rare Applications")
    elif i >5 and i <=7:
        application_df_1['APPLICATION_TYPE'] = application_df_1['APPLICATION_TYPE'].replace(app,"Less Common Applications")
    elif i >2 and i <=5:
        application_df_1['APPLICATION_TYPE'] = application_df_1['APPLICATION_TYPE'].replace(app,"Relativly Common Applications")
    else:
        continue

# # Check to make sure binning was successful
application_df_1['APPLICATION_TYPE'].value_counts()

T3                               27037
Relativly Common Applications     2975
T4                                1542
Less Common Applications          1253
T6                                1216
Rare Applications                  276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df_1['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Looking at CLASSIFICATION value counts >1
application_df_1['CLASSIFICATION'].value_counts().loc[application_df_1['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace_1 = list(application_df_1['CLASSIFICATION'].value_counts().index)

# Replace in dataframe
for i, cls in enumerate(classifications_to_replace_1):
    if i > 4:
        application_df_1['CLASSIFICATION'] = application_df_1['CLASSIFICATION'].replace(cls,"Other")
        pass
    elif i > 2 and i<=5:
        application_df_1['CLASSIFICATION'] = application_df_1['CLASSIFICATION'].replace(cls,"Less common government organisation")
    else:
        continue
    
# # Check to make sure binning was successful
application_df_1['CLASSIFICATION'].value_counts()

C1000                                  17326
C2000                                   6074
C1200                                   4837
Less common government organisation     3801
Other                                   2261
Name: CLASSIFICATION, dtype: int64

In [9]:
# Look at A value counts for binning
application_df_1['ORGANIZATION'].value_counts()

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of ORGANIZATION to be replaced
organisations_to_replace_1 = list(application_df_1['ORGANIZATION'].value_counts().index[2:])

# Replace in dataframe
for org in organisations_to_replace_1:
    application_df_1['ORGANIZATION'] = application_df_1['ORGANIZATION'].replace(org,"Other")
    
# Check to make sure binning was successful
application_df_1['ORGANIZATION'].value_counts()

Trust          23515
Association    10255
Other            529
Name: ORGANIZATION, dtype: int64

In [11]:
# Look at AFFILIATION value counts for binning
application_df_1['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of AFFILIATION to be replaced
affiliation_to_replace_1 = list(application_df_1['AFFILIATION'].value_counts().index[2:])

# Replace in dataframe
for afl in affiliation_to_replace_1:
    application_df_1['AFFILIATION'] = application_df_1['AFFILIATION'].replace(afl,"Other")
    
# Check to make sure binning was successful
application_df_1['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df_1  = pd.get_dummies(application_df_1)

In [14]:
# Split our preprocessed data into our features and target arrays
X_1 = dummy_df_1.drop(columns='IS_SUCCESSFUL', axis=1)
y_1 = dummy_df_1['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, random_state=1)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler_1 = scaler.fit(X_train_1)

# Scale the data
X_train_scaled_1 = X_scaler_1.transform(X_train_1)
X_test_scaled_1 = X_scaler_1.transform(X_test_1)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
model_1_hidden_layer_1 = 80
model_1_hidden_layer_2 = 30
model_1_output_layer = 1 


nn_1 = tf.keras.models.Sequential()

# First hidden layer
nn_1.add(tf.keras.layers.Dense(units=model_1_hidden_layer_1, activation='relu',input_dim=len(X_1.columns)))

# Second hidden layer
nn_1.add(tf.keras.layers.Dense(units=model_1_hidden_layer_2, activation='tanh'))

# Output layer
nn_1.add(tf.keras.layers.Dense(units=model_1_output_layer, activation='sigmoid'))

# Check the structure of the model
nn_1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2800

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,261
Trainable params: 5,261
Non-trainable params: 0
_________________________________________________________________

2023-10-20 11:43:04.562913: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [17]:
# Compile the model
nn_1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Define a callback to save the model's weights every five epochs
checkpoint_filepath_1 = 'model_weights.h5'
model_checkpoint_callback_1 = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_filepath_1,
    save_weights_only=True,
    save_freq = 5 * len(X_train_scaled_1) // 32)  # Save every five epochs

In [18]:
# Train the model
nn_1.fit(X_test_scaled_1, y_test_1, epochs=100)

Epoch 1/100
268/268 [==============================] - 1s 779us/step - loss: 0.5949 - accuracy: 0.6988
Epoch 2/100
268/268 [==============================] - 0s 775us/step - loss: 0.5679 - accuracy: 0.7230
Epoch 3/100
268/268 [==============================] - 0s 750us/step - loss: 0.5632 - accuracy: 0.7257
Epoch 4/100
268/268 [==============================] - 0s 751us/step - loss: 0.5599 - accuracy: 0.7278
Epoch 5/100
268/268 [==============================] - 0s 733us/step - loss: 0.5588 - accuracy: 0.7266
Epoch 6/100
268/268 [==============================] - 0s 768us/step - loss: 0.5555 - accuracy: 0.7286
Epoch 7/100
268/268 [==============================] - 0s 802us/step - loss: 0.5541 - accuracy: 0.7301
Epoch 8/100
268/268 [==============================] - 0s 732us/step - loss: 0.5544 - accuracy: 0.7315
Epoch 9/100
268/268 [==============================] - 0s 772us/step - loss: 0.5507 - accuracy: 0.7340
Epoch 10/100
268/268 [==============================] - 0s 805us/step - loss: 0.5516 - accuracy: 0.7317
Epoch 11/100
268/268 [==============================] - 0s 756us/step - loss: 0.5505 - accuracy: 0.7319
Epoch 12/100
268/268 [==============================] - 0s 805us/step - loss: 0.5507 - accuracy: 0.7320
Epoch 13/100
268/268 [==============================] - 0s 791us/step - loss: 0.5499 - accuracy: 0.7341
Epoch 14/100
268/268 [==============================] - 0s 730us/step - loss: 0.5495 - accuracy: 0.7346
Epoch 15/100
268/268 [==============================] - 0s 814us/step - loss: 0.5492 - accuracy: 0.7340
Epoch 16/100
268/268 [==============================] - 0s 816us/step - loss: 0.5474 - accuracy: 0.7359
Epoch 17/100
268/268 [==============================] - 0s 803us/step - loss: 0.5476 - accuracy: 0.7328
Epoch 18/100
268/268 [==============================] - 0s 768us/step - loss: 0.5469 - accuracy: 0.7360
Epoch 19/100
268/268 [==============================] - 0s 751us/step - loss: 0.5462 - accuracy: 0.7371
Epoch 20/100
268/268 [==============================] - 0s 744us/step - loss: 0.5464 - accuracy: 0.7368
Epoch 21/100
268/268 [==============================] - 0s 768us/step - loss: 0.5459 - accuracy: 0.7373
Epoch 22/100
268/268 [==============================] - 0s 890us/step - loss: 0.5452 - accuracy: 0.7357
Epoch 23/100
268/268 [==============================] - 0s 768us/step - loss: 0.5452 - accuracy: 0.7361
Epoch 24/100
268/268 [==============================] - 0s 784us/step - loss: 0.5455 - accuracy: 0.7377
Epoch 25/100
268/268 [==============================] - 0s 774us/step - loss: 0.5450 - accuracy: 0.7373
Epoch 26/100
268/268 [==============================] - 0s 750us/step - loss: 0.5444 - accuracy: 0.7362
Epoch 27/100
268/268 [==============================] - 0s 734us/step - loss: 0.5445 - accuracy: 0.7375
Epoch 28/100
268/268 [==============================] - 0s 818us/step - loss: 0.5442 - accuracy: 0.7382
Epoch 29/100
268/268 [==============================] - 0s 747us/step - loss: 0.5437 - accuracy: 0.7350
Epoch 30/100
268/268 [==============================] - 0s 744us/step - loss: 0.5433 - accuracy: 0.7394
Epoch 31/100
268/268 [==============================] - 0s 743us/step - loss: 0.5426 - accuracy: 0.7369
Epoch 32/100
268/268 [==============================] - 0s 711us/step - loss: 0.5430 - accuracy: 0.7366
Epoch 33/100
268/268 [==============================] - 0s 731us/step - loss: 0.5418 - accuracy: 0.7360
Epoch 34/100
268/268 [==============================] - 0s 822us/step - loss: 0.5436 - accuracy: 0.7361
Epoch 35/100
268/268 [==============================] - 0s 848us/step - loss: 0.5418 - accuracy: 0.7375
Epoch 36/100
268/268 [==============================] - 0s 791us/step - loss: 0.5418 - accuracy: 0.7376
Epoch 37/100
268/268 [==============================] - 0s 750us/step - loss: 0.5413 - accuracy: 0.7398
Epoch 38/100
268/268 [==============================] - 0s 769us/step - loss: 0.5410 - accuracy: 0.7374
Epoch 39/100
268/268 [==============================] - 0s 814us/step - loss: 0.5415 - accuracy: 0.7398
Epoch 40/100
268/268 [==============================] - 0s 739us/step - loss: 0.5405 - accuracy: 0.7383
Epoch 41/100
268/268 [==============================] - 0s 746us/step - loss: 0.5402 - accuracy: 0.7369
Epoch 42/100
268/268 [==============================] - 0s 748us/step - loss: 0.5396 - accuracy: 0.7382
Epoch 43/100
268/268 [==============================] - 0s 750us/step - loss: 0.5400 - accuracy: 0.7388
Epoch 44/100
268/268 [==============================] - 0s 859us/step - loss: 0.5395 - accuracy: 0.7404
Epoch 45/100
268/268 [==============================] - 0s 736us/step - loss: 0.5396 - accuracy: 0.7399
Epoch 46/100
268/268 [==============================] - 0s 735us/step - loss: 0.5397 - accuracy: 0.7375
Epoch 47/100
268/268 [==============================] - 0s 769us/step - loss: 0.5393 - accuracy: 0.7395
Epoch 48/100
268/268 [==============================] - 0s 748us/step - loss: 0.5390 - accuracy: 0.7375
Epoch 49/100
268/268 [==============================] - 0s 731us/step - loss: 0.5390 - accuracy: 0.7395
Epoch 50/100
268/268 [==============================] - 0s 728us/step - loss: 0.5385 - accuracy: 0.7384
Epoch 51/100
268/268 [==============================] - 0s 776us/step - loss: 0.5389 - accuracy: 0.7395
Epoch 52/100
268/268 [==============================] - 0s 717us/step - loss: 0.5382 - accuracy: 0.7388
Epoch 53/100
268/268 [==============================] - 0s 720us/step - loss: 0.5380 - accuracy: 0.7381
Epoch 54/100
268/268 [==============================] - 0s 718us/step - loss: 0.5385 - accuracy: 0.7369
Epoch 55/100
268/268 [==============================] - 0s 745us/step - loss: 0.5379 - accuracy: 0.7392
Epoch 56/100
268/268 [==============================] - 0s 746us/step - loss: 0.5378 - accuracy: 0.7376
Epoch 57/100
268/268 [==============================] - 0s 733us/step - loss: 0.5378 - accuracy: 0.7385
Epoch 58/100
268/268 [==============================] - 0s 809us/step - loss: 0.5374 - accuracy: 0.7396
Epoch 59/100
268/268 [==============================] - 0s 746us/step - loss: 0.5373 - accuracy: 0.7383
Epoch 60/100
268/268 [==============================] - 0s 764us/step - loss: 0.5367 - accuracy: 0.7401
Epoch 61/100
268/268 [==============================] - 0s 770us/step - loss: 0.5375 - accuracy: 0.7384
Epoch 62/100
268/268 [==============================] - 0s 723us/step - loss: 0.5369 - accuracy: 0.7412
Epoch 63/100
268/268 [==============================] - 0s 769us/step - loss: 0.5372 - accuracy: 0.7387
Epoch 64/100
268/268 [==============================] - 0s 747us/step - loss: 0.5363 - accuracy: 0.7415
Epoch 65/100
268/268 [==============================] - 0s 840us/step - loss: 0.5368 - accuracy: 0.7406
Epoch 66/100
268/268 [==============================] - 0s 766us/step - loss: 0.5370 - accuracy: 0.7395
Epoch 67/100
268/268 [==============================] - 0s 791us/step - loss: 0.5358 - accuracy: 0.7409
Epoch 68/100
268/268 [==============================] - 0s 793us/step - loss: 0.5362 - accuracy: 0.7401
Epoch 69/100
268/268 [==============================] - 0s 758us/step - loss: 0.5352 - accuracy: 0.7415
Epoch 70/100
268/268 [==============================] - 0s 748us/step - loss: 0.5356 - accuracy: 0.7409
Epoch 71/100
268/268 [==============================] - 0s 753us/step - loss: 0.5353 - accuracy: 0.7399
Epoch 72/100
268/268 [==============================] - 0s 833us/step - loss: 0.5355 - accuracy: 0.7410
Epoch 73/100
268/268 [==============================] - 0s 781us/step - loss: 0.5352 - accuracy: 0.7403
Epoch 74/100
268/268 [==============================] - 0s 786us/step - loss: 0.5348 - accuracy: 0.7425
Epoch 75/100
268/268 [==============================] - 0s 783us/step - loss: 0.5353 - accuracy: 0.7405
Epoch 76/100
268/268 [==============================] - 0s 756us/step - loss: 0.5348 - accuracy: 0.7399
Epoch 77/100
268/268 [==============================] - 0s 816us/step - loss: 0.5353 - accuracy: 0.7403
Epoch 78/100
268/268 [==============================] - 0s 754us/step - loss: 0.5347 - accuracy: 0.7413
Epoch 79/100
268/268 [==============================] - 0s 763us/step - loss: 0.5341 - accuracy: 0.7405
Epoch 80/100
268/268 [==============================] - 0s 758us/step - loss: 0.5344 - accuracy: 0.7415
Epoch 81/100
268/268 [==============================] - 0s 771us/step - loss: 0.5343 - accuracy: 0.7405
Epoch 82/100
268/268 [==============================] - 0s 807us/step - loss: 0.5345 - accuracy: 0.7394
Epoch 83/100
268/268 [==============================] - 0s 744us/step - loss: 0.5348 - accuracy: 0.7383
Epoch 84/100
268/268 [==============================] - 0s 750us/step - loss: 0.5339 - accuracy: 0.7416
Epoch 85/100
268/268 [==============================] - 0s 803us/step - loss: 0.5341 - accuracy: 0.7399
Epoch 86/100
268/268 [==============================] - 0s 769us/step - loss: 0.5345 - accuracy: 0.7397
Epoch 87/100
268/268 [==============================] - 0s 816us/step - loss: 0.5337 - accuracy: 0.7397
Epoch 88/100
268/268 [==============================] - 0s 801us/step - loss: 0.5335 - accuracy: 0.7391
Epoch 89/100
268/268 [==============================] - 0s 760us/step - loss: 0.5340 - accuracy: 0.7412
Epoch 90/100
268/268 [==============================] - 0s 742us/step - loss: 0.5333 - accuracy: 0.7406
Epoch 91/100
268/268 [==============================] - 0s 745us/step - loss: 0.5339 - accuracy: 0.7419
Epoch 92/100
268/268 [==============================] - 0s 814us/step - loss: 0.5329 - accuracy: 0.7413
Epoch 93/100
268/268 [==============================] - 0s 745us/step - loss: 0.5334 - accuracy: 0.7408
Epoch 94/100
268/268 [==============================] - 0s 750us/step - loss: 0.5334 - accuracy: 0.7396
Epoch 95/100
268/268 [==============================] - 0s 764us/step - loss: 0.5329 - accuracy: 0.7402
Epoch 96/100
268/268 [==============================] - 0s 756us/step - loss: 0.5328 - accuracy: 0.7425
Epoch 97/100
268/268 [==============================] - 0s 848us/step - loss: 0.5332 - accuracy: 0.7398
Epoch 98/100
268/268 [==============================] - 0s 828us/step - loss: 0.5336 - accuracy: 0.7402
Epoch 99/100
268/268 [==============================] - 0s 764us/step - loss: 0.5328 - accuracy: 0.7418
Epoch 100/100
268/268 [==============================] - 0s 757us/step - loss: 0.5328 - accuracy: 0.7406

In [19]:
# Evaluate the model using the test data
model_loss_1, model_accuracy_1 = nn_1.evaluate(X_test_scaled_1,y_test_1,verbose=2)
print(f"Loss: {model_loss_1}, Accuracy: {model_accuracy_1}")

268/268 - 0s - loss: 0.5292 - accuracy: 0.7433 - 230ms/epoch - 859us/step
Loss: 0.5291615724563599, Accuracy: 0.7433236241340637

------

### (2) Optimising the model by increasing the apochs

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df_2 = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df_2.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_2.drop(columns=['EIN', 'NAME'], axis=1, inplace=True)

In [22]:
# Determine the number of unique values in each column.
application_df_2.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts for binning
application_df_2['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [24]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace_2 = list(application_df_2['APPLICATION_TYPE'].value_counts().index[8:])

# Replace in dataframe
for app in application_types_to_replace_2:
    application_df_2['APPLICATION_TYPE'] = application_df_2['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df_2['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Look at CLASSIFICATION value counts for binning
application_df_2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [26]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df_2['CLASSIFICATION'].value_counts().loc[application_df_2['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [27]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace_2 = list(application_df_2['CLASSIFICATION'].value_counts().index[5:])

# Replace in dataframe
for cls in classifications_to_replace_2:
    application_df_2['CLASSIFICATION'] = application_df_2['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df_2['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [28]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df_2  = pd.get_dummies(application_df_2)

In [29]:
# Split our preprocessed data into our features and target arrays
X_2 = dummy_df_2.drop(columns='IS_SUCCESSFUL', axis=1)
y_2 = dummy_df_2['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_2, y_2, random_state=1)

In [31]:
# Create a StandardScaler instances
scaler_2 = StandardScaler()

# Fit the StandardScaler
X_scaler_2 = scaler_2.fit(X_train_2)

# Scale the data
X_train_scaled_2 = X_scaler_2.transform(X_train_2)
X_test_scaled_2 = X_scaler_2.transform(X_test_2)

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
model_2_hidden_layer_1 = 80
model_2_hidden_layer_2 = 30
model_2_output_layer = 1 


nn_2 = tf.keras.models.Sequential()

# First hidden layer
nn_2.add(tf.keras.layers.Dense(units=model_2_hidden_layer_1, activation='relu',input_dim=len(X_2.columns)))

# Second hidden layer
nn_2.add(tf.keras.layers.Dense(units=model_2_hidden_layer_2, activation='tanh'))

# Output layer
nn_2.add(tf.keras.layers.Dense(units=model_2_output_layer, activation='sigmoid'))

# Check the structure of the model
nn_2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model
nn_2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Define a callback to save the model's weights every five epochs
checkpoint_filepath_2 = 'model_weights.h5'
model_checkpoint_callback_2 = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_filepath_2,
    save_weights_only=True,
    save_freq = 5 * len(X_train_scaled_2) // 32)  # Save every five epochs

In [34]:
# Train the model
nn_2.fit(X_test_scaled_2, y_test_2, epochs=200)

Epoch 1/200
268/268 [==============================] - 0s 813us/step - loss: 0.5855 - accuracy: 0.7124
Epoch 2/200
268/268 [==============================] - 0s 792us/step - loss: 0.5621 - accuracy: 0.7241
Epoch 3/200
268/268 [==============================] - 0s 776us/step - loss: 0.5580 - accuracy: 0.7269
Epoch 4/200
268/268 [==============================] - 0s 783us/step - loss: 0.5540 - accuracy: 0.7306
Epoch 5/200
268/268 [==============================] - 0s 762us/step - loss: 0.5498 - accuracy: 0.7313
Epoch 6/200
268/268 [==============================] - 0s 839us/step - loss: 0.5497 - accuracy: 0.7327
Epoch 7/200
268/268 [==============================] - 0s 761us/step - loss: 0.5478 - accuracy: 0.7318
Epoch 8/200
268/268 [==============================] - 0s 765us/step - loss: 0.5468 - accuracy: 0.7339
Epoch 9/200
268/268 [==============================] - 0s 758us/step - loss: 0.5457 - accuracy: 0.7348
Epoch 10/200
268/268 [==============================] - 0s 794us/step - loss: 0.5449 - accuracy: 0.7362
Epoch 11/200
268/268 [==============================] - 0s 765us/step - loss: 0.5451 - accuracy: 0.7348
Epoch 12/200
268/268 [==============================] - 0s 829us/step - loss: 0.5431 - accuracy: 0.7366
Epoch 13/200
268/268 [==============================] - 0s 766us/step - loss: 0.5428 - accuracy: 0.7369
Epoch 14/200
268/268 [==============================] - 0s 760us/step - loss: 0.5433 - accuracy: 0.7349
Epoch 15/200
268/268 [==============================] - 0s 761us/step - loss: 0.5407 - accuracy: 0.7374
Epoch 16/200
268/268 [==============================] - 0s 808us/step - loss: 0.5418 - accuracy: 0.7370
Epoch 17/200
268/268 [==============================] - 0s 892us/step - loss: 0.5398 - accuracy: 0.7396
Epoch 18/200
268/268 [==============================] - 0s 879us/step - loss: 0.5401 - accuracy: 0.7382
Epoch 19/200
268/268 [==============================] - 0s 814us/step - loss: 0.5393 - accuracy: 0.7382
Epoch 20/200
268/268 [==============================] - 0s 782us/step - loss: 0.5394 - accuracy: 0.7390
Epoch 21/200
268/268 [==============================] - 0s 814us/step - loss: 0.5391 - accuracy: 0.7375
Epoch 22/200
268/268 [==============================] - 0s 857us/step - loss: 0.5386 - accuracy: 0.7383
Epoch 23/200
268/268 [==============================] - 0s 769us/step - loss: 0.5376 - accuracy: 0.7404
Epoch 24/200
268/268 [==============================] - 0s 786us/step - loss: 0.5382 - accuracy: 0.7389
Epoch 25/200
268/268 [==============================] - 0s 826us/step - loss: 0.5375 - accuracy: 0.7390
Epoch 26/200
268/268 [==============================] - 0s 787us/step - loss: 0.5374 - accuracy: 0.7404
Epoch 27/200
268/268 [==============================] - 0s 796us/step - loss: 0.5363 - accuracy: 0.7405
Epoch 28/200
268/268 [==============================] - 0s 860us/step - loss: 0.5368 - accuracy: 0.7413
Epoch 29/200
268/268 [==============================] - 0s 780us/step - loss: 0.5361 - accuracy: 0.7402
Epoch 30/200
268/268 [==============================] - 0s 745us/step - loss: 0.5347 - accuracy: 0.7398
Epoch 31/200
268/268 [==============================] - 0s 760us/step - loss: 0.5345 - accuracy: 0.7425
Epoch 32/200
268/268 [==============================] - 0s 756us/step - loss: 0.5356 - accuracy: 0.7397
Epoch 33/200
268/268 [==============================] - 0s 765us/step - loss: 0.5352 - accuracy: 0.7419
Epoch 34/200
268/268 [==============================] - 0s 825us/step - loss: 0.5344 - accuracy: 0.7419
Epoch 35/200
268/268 [==============================] - 0s 763us/step - loss: 0.5338 - accuracy: 0.7424
Epoch 36/200
268/268 [==============================] - 0s 786us/step - loss: 0.5340 - accuracy: 0.7411
Epoch 37/200
268/268 [==============================] - 0s 788us/step - loss: 0.5339 - accuracy: 0.7427
Epoch 38/200
268/268 [==============================] - 0s 787us/step - loss: 0.5333 - accuracy: 0.7433
Epoch 39/200
268/268 [==============================] - 0s 840us/step - loss: 0.5329 - accuracy: 0.7430
Epoch 40/200
268/268 [==============================] - 0s 864us/step - loss: 0.5330 - accuracy: 0.7419
Epoch 41/200
268/268 [==============================] - 0s 750us/step - loss: 0.5324 - accuracy: 0.7439
Epoch 42/200
268/268 [==============================] - 0s 789us/step - loss: 0.5322 - accuracy: 0.7422
Epoch 43/200
268/268 [==============================] - 0s 788us/step - loss: 0.5318 - accuracy: 0.7431
Epoch 44/200
268/268 [==============================] - 0s 786us/step - loss: 0.5318 - accuracy: 0.7432
Epoch 45/200
268/268 [==============================] - 0s 922us/step - loss: 0.5316 - accuracy: 0.7450
Epoch 46/200
268/268 [==============================] - 0s 784us/step - loss: 0.5314 - accuracy: 0.7452
Epoch 47/200
268/268 [==============================] - 0s 832us/step - loss: 0.5315 - accuracy: 0.7462
Epoch 48/200
268/268 [==============================] - 0s 776us/step - loss: 0.5313 - accuracy: 0.7439
Epoch 49/200
268/268 [==============================] - 0s 776us/step - loss: 0.5310 - accuracy: 0.7436
Epoch 50/200
268/268 [==============================] - 0s 800us/step - loss: 0.5306 - accuracy: 0.7429
Epoch 51/200
268/268 [==============================] - 0s 861us/step - loss: 0.5300 - accuracy: 0.7448
Epoch 52/200
268/268 [==============================] - 0s 772us/step - loss: 0.5304 - accuracy: 0.7444
Epoch 53/200
268/268 [==============================] - 0s 795us/step - loss: 0.5303 - accuracy: 0.7439
Epoch 54/200
268/268 [==============================] - 0s 803us/step - loss: 0.5300 - accuracy: 0.7437
Epoch 55/200
268/268 [==============================] - 0s 805us/step - loss: 0.5299 - accuracy: 0.7429
Epoch 56/200
268/268 [==============================] - 0s 847us/step - loss: 0.5296 - accuracy: 0.7440
Epoch 57/200
268/268 [==============================] - 0s 759us/step - loss: 0.5295 - accuracy: 0.7431
Epoch 58/200
268/268 [==============================] - 0s 835us/step - loss: 0.5291 - accuracy: 0.7438
Epoch 59/200
268/268 [==============================] - 0s 834us/step - loss: 0.5293 - accuracy: 0.7459
Epoch 60/200
268/268 [==============================] - 0s 850us/step - loss: 0.5284 - accuracy: 0.7454
Epoch 61/200
268/268 [==============================] - 0s 750us/step - loss: 0.5289 - accuracy: 0.7444
Epoch 62/200
268/268 [==============================] - 0s 745us/step - loss: 0.5288 - accuracy: 0.7458
Epoch 63/200
268/268 [==============================] - 0s 820us/step - loss: 0.5294 - accuracy: 0.7454
Epoch 64/200
268/268 [==============================] - 0s 864us/step - loss: 0.5283 - accuracy: 0.7450
Epoch 65/200
268/268 [==============================] - 0s 766us/step - loss: 0.5281 - accuracy: 0.7447
Epoch 66/200
268/268 [==============================] - 0s 790us/step - loss: 0.5289 - accuracy: 0.7438
Epoch 67/200
268/268 [==============================] - 0s 745us/step - loss: 0.5280 - accuracy: 0.7447
Epoch 68/200
268/268 [==============================] - 0s 841us/step - loss: 0.5275 - accuracy: 0.7450
Epoch 69/200
268/268 [==============================] - 0s 775us/step - loss: 0.5273 - accuracy: 0.7443
Epoch 70/200
268/268 [==============================] - 0s 751us/step - loss: 0.5273 - accuracy: 0.7445
Epoch 71/200
268/268 [==============================] - 0s 768us/step - loss: 0.5274 - accuracy: 0.7453
Epoch 72/200
268/268 [==============================] - 0s 733us/step - loss: 0.5271 - accuracy: 0.7452
Epoch 73/200
268/268 [==============================] - 0s 814us/step - loss: 0.5270 - accuracy: 0.7453
Epoch 74/200
268/268 [==============================] - 0s 782us/step - loss: 0.5269 - accuracy: 0.7453
Epoch 75/200
268/268 [==============================] - 0s 768us/step - loss: 0.5273 - accuracy: 0.7457
Epoch 76/200
268/268 [==============================] - 0s 757us/step - loss: 0.5271 - accuracy: 0.7457
Epoch 77/200
268/268 [==============================] - 0s 844us/step - loss: 0.5264 - accuracy: 0.7455
Epoch 78/200
268/268 [==============================] - 0s 760us/step - loss: 0.5261 - accuracy: 0.7458
Epoch 79/200
268/268 [==============================] - 0s 748us/step - loss: 0.5266 - accuracy: 0.7465
Epoch 80/200
268/268 [==============================] - 0s 741us/step - loss: 0.5262 - accuracy: 0.7461
Epoch 81/200
268/268 [==============================] - 0s 746us/step - loss: 0.5261 - accuracy: 0.7471
Epoch 82/200
268/268 [==============================] - 0s 858us/step - loss: 0.5259 - accuracy: 0.7454
Epoch 83/200
268/268 [==============================] - 0s 776us/step - loss: 0.5261 - accuracy: 0.7461
Epoch 84/200
268/268 [==============================] - 0s 776us/step - loss: 0.5256 - accuracy: 0.7465
Epoch 85/200
268/268 [==============================] - 0s 795us/step - loss: 0.5255 - accuracy: 0.7459
Epoch 86/200
268/268 [==============================] - 0s 792us/step - loss: 0.5258 - accuracy: 0.7451
Epoch 87/200
268/268 [==============================] - 0s 865us/step - loss: 0.5250 - accuracy: 0.7464
Epoch 88/200
268/268 [==============================] - 0s 781us/step - loss: 0.5254 - accuracy: 0.7453
Epoch 89/200
268/268 [==============================] - 0s 739us/step - loss: 0.5255 - accuracy: 0.7455
Epoch 90/200
268/268 [==============================] - 0s 738us/step - loss: 0.5254 - accuracy: 0.7461
Epoch 91/200
268/268 [==============================] - 0s 768us/step - loss: 0.5245 - accuracy: 0.7469
Epoch 92/200
268/268 [==============================] - 0s 821us/step - loss: 0.5250 - accuracy: 0.7461
Epoch 93/200
268/268 [==============================] - 0s 743us/step - loss: 0.5247 - accuracy: 0.7473
Epoch 94/200
268/268 [==============================] - 0s 746us/step - loss: 0.5246 - accuracy: 0.7468
Epoch 95/200
268/268 [==============================] - 0s 721us/step - loss: 0.5246 - accuracy: 0.7464
Epoch 96/200
268/268 [==============================] - 0s 780us/step - loss: 0.5243 - accuracy: 0.7476
Epoch 97/200
268/268 [==============================] - 0s 747us/step - loss: 0.5240 - accuracy: 0.7460
Epoch 98/200
268/268 [==============================] - 0s 798us/step - loss: 0.5246 - accuracy: 0.7458
Epoch 99/200
268/268 [==============================] - 0s 721us/step - loss: 0.5244 - accuracy: 0.7475
Epoch 100/200
268/268 [==============================] - 0s 789us/step - loss: 0.5241 - accuracy: 0.7466
Epoch 101/200
268/268 [==============================] - 0s 824us/step - loss: 0.5243 - accuracy: 0.7471
Epoch 102/200
268/268 [==============================] - 0s 913us/step - loss: 0.5242 - accuracy: 0.7457
Epoch 103/200
268/268 [==============================] - 0s 771us/step - loss: 0.5236 - accuracy: 0.7473
Epoch 104/200
268/268 [==============================] - 0s 754us/step - loss: 0.5234 - accuracy: 0.7471
Epoch 105/200
268/268 [==============================] - 0s 727us/step - loss: 0.5238 - accuracy: 0.7472
Epoch 106/200
268/268 [==============================] - 0s 873us/step - loss: 0.5238 - accuracy: 0.7464
Epoch 107/200
268/268 [==============================] - 0s 786us/step - loss: 0.5241 - accuracy: 0.7461
Epoch 108/200
268/268 [==============================] - 0s 850us/step - loss: 0.5234 - accuracy: 0.7462
Epoch 109/200
268/268 [==============================] - 0s 787us/step - loss: 0.5233 - accuracy: 0.7469
Epoch 110/200
268/268 [==============================] - 0s 833us/step - loss: 0.5238 - accuracy: 0.7471
Epoch 111/200
268/268 [==============================] - 0s 785us/step - loss: 0.5237 - accuracy: 0.7472
Epoch 112/200
268/268 [==============================] - 0s 798us/step - loss: 0.5237 - accuracy: 0.7458
Epoch 113/200
268/268 [==============================] - 0s 764us/step - loss: 0.5234 - accuracy: 0.7465
Epoch 114/200
268/268 [==============================] - 0s 855us/step - loss: 0.5235 - accuracy: 0.7460
Epoch 115/200
268/268 [==============================] - 0s 812us/step - loss: 0.5231 - accuracy: 0.7472
Epoch 116/200
268/268 [==============================] - 0s 895us/step - loss: 0.5236 - accuracy: 0.7467
Epoch 117/200
268/268 [==============================] - 0s 783us/step - loss: 0.5228 - accuracy: 0.7468
Epoch 118/200
268/268 [==============================] - 0s 857us/step - loss: 0.5228 - accuracy: 0.7465
Epoch 119/200
268/268 [==============================] - 0s 797us/step - loss: 0.5225 - accuracy: 0.7471
Epoch 120/200
268/268 [==============================] - 0s 793us/step - loss: 0.5228 - accuracy: 0.7471
Epoch 121/200
268/268 [==============================] - 0s 861us/step - loss: 0.5223 - accuracy: 0.7458
Epoch 122/200
268/268 [==============================] - 0s 797us/step - loss: 0.5225 - accuracy: 0.7471
Epoch 123/200
268/268 [==============================] - 0s 789us/step - loss: 0.5224 - accuracy: 0.7466
Epoch 124/200
268/268 [==============================] - 0s 860us/step - loss: 0.5224 - accuracy: 0.7447
Epoch 125/200
268/268 [==============================] - 0s 800us/step - loss: 0.5227 - accuracy: 0.7473
Epoch 126/200
268/268 [==============================] - 0s 789us/step - loss: 0.5223 - accuracy: 0.7467
Epoch 127/200
268/268 [==============================] - 0s 859us/step - loss: 0.5226 - accuracy: 0.7464
Epoch 128/200
268/268 [==============================] - 0s 783us/step - loss: 0.5223 - accuracy: 0.7479
Epoch 129/200
268/268 [==============================] - 0s 882us/step - loss: 0.5227 - accuracy: 0.7472
Epoch 130/200
268/268 [==============================] - 0s 757us/step - loss: 0.5217 - accuracy: 0.7474
Epoch 131/200
268/268 [==============================] - 0s 753us/step - loss: 0.5222 - accuracy: 0.7471
Epoch 132/200
268/268 [==============================] - 0s 833us/step - loss: 0.5225 - accuracy: 0.7460
Epoch 133/200
268/268 [==============================] - 0s 841us/step - loss: 0.5218 - accuracy: 0.7471
Epoch 134/200
268/268 [==============================] - 0s 790us/step - loss: 0.5220 - accuracy: 0.7471
Epoch 135/200
268/268 [==============================] - 0s 811us/step - loss: 0.5220 - accuracy: 0.7474
Epoch 136/200
268/268 [==============================] - 0s 828us/step - loss: 0.5222 - accuracy: 0.7474
Epoch 137/200
268/268 [==============================] - 0s 822us/step - loss: 0.5213 - accuracy: 0.7471
Epoch 138/200
268/268 [==============================] - 0s 870us/step - loss: 0.5219 - accuracy: 0.7461
Epoch 139/200
268/268 [==============================] - 0s 806us/step - loss: 0.5216 - accuracy: 0.7472
Epoch 140/200
268/268 [==============================] - 0s 780us/step - loss: 0.5217 - accuracy: 0.7472
Epoch 141/200
268/268 [==============================] - 0s 780us/step - loss: 0.5214 - accuracy: 0.7474
Epoch 142/200
268/268 [==============================] - 0s 758us/step - loss: 0.5218 - accuracy: 0.7475
Epoch 143/200
268/268 [==============================] - 0s 866us/step - loss: 0.5223 - accuracy: 0.7468
Epoch 144/200
268/268 [==============================] - 0s 761us/step - loss: 0.5215 - accuracy: 0.7467
Epoch 145/200
268/268 [==============================] - 0s 781us/step - loss: 0.5219 - accuracy: 0.7471
Epoch 146/200
268/268 [==============================] - 0s 784us/step - loss: 0.5216 - accuracy: 0.7471
Epoch 147/200
268/268 [==============================] - 0s 772us/step - loss: 0.5212 - accuracy: 0.7476
Epoch 148/200
268/268 [==============================] - 0s 831us/step - loss: 0.5213 - accuracy: 0.7476
Epoch 149/200
268/268 [==============================] - 0s 770us/step - loss: 0.5212 - accuracy: 0.7478
Epoch 150/200
268/268 [==============================] - 0s 814us/step - loss: 0.5217 - accuracy: 0.7480
Epoch 151/200
268/268 [==============================] - 0s 798us/step - loss: 0.5212 - accuracy: 0.7479
Epoch 152/200
268/268 [==============================] - 0s 851us/step - loss: 0.5209 - accuracy: 0.7473
Epoch 153/200
268/268 [==============================] - 0s 796us/step - loss: 0.5212 - accuracy: 0.7475
Epoch 154/200
268/268 [==============================] - 0s 769us/step - loss: 0.5209 - accuracy: 0.7480
Epoch 155/200
268/268 [==============================] - 0s 786us/step - loss: 0.5207 - accuracy: 0.7474
Epoch 156/200
268/268 [==============================] - 0s 816us/step - loss: 0.5213 - accuracy: 0.7469
Epoch 157/200
268/268 [==============================] - 0s 860us/step - loss: 0.5207 - accuracy: 0.7468
Epoch 158/200
268/268 [==============================] - 0s 778us/step - loss: 0.5208 - accuracy: 0.7472
Epoch 159/200
268/268 [==============================] - 0s 790us/step - loss: 0.5214 - accuracy: 0.7473
Epoch 160/200
268/268 [==============================] - 0s 783us/step - loss: 0.5221 - accuracy: 0.7474
Epoch 161/200
268/268 [==============================] - 0s 812us/step - loss: 0.5211 - accuracy: 0.7478
Epoch 162/200
268/268 [==============================] - 0s 894us/step - loss: 0.5209 - accuracy: 0.7473
Epoch 163/200
268/268 [==============================] - 0s 767us/step - loss: 0.5216 - accuracy: 0.7468
Epoch 164/200
268/268 [==============================] - 0s 810us/step - loss: 0.5211 - accuracy: 0.7474
Epoch 165/200
268/268 [==============================] - 0s 786us/step - loss: 0.5212 - accuracy: 0.7468
Epoch 166/200
268/268 [==============================] - 0s 837us/step - loss: 0.5208 - accuracy: 0.7471
Epoch 167/200
268/268 [==============================] - 0s 827us/step - loss: 0.5211 - accuracy: 0.7468
Epoch 168/200
268/268 [==============================] - 0s 770us/step - loss: 0.5207 - accuracy: 0.7476
Epoch 169/200
268/268 [==============================] - 0s 764us/step - loss: 0.5208 - accuracy: 0.7466
Epoch 170/200
268/268 [==============================] - 0s 765us/step - loss: 0.5207 - accuracy: 0.7473
Epoch 171/200
268/268 [==============================] - 0s 799us/step - loss: 0.5205 - accuracy: 0.7475
Epoch 172/200
268/268 [==============================] - 0s 828us/step - loss: 0.5222 - accuracy: 0.7469
Epoch 173/200
268/268 [==============================] - 0s 758us/step - loss: 0.5221 - accuracy: 0.7466
Epoch 174/200
268/268 [==============================] - 0s 749us/step - loss: 0.5219 - accuracy: 0.7460
Epoch 175/200
268/268 [==============================] - 0s 778us/step - loss: 0.5206 - accuracy: 0.7465
Epoch 176/200
268/268 [==============================] - 0s 769us/step - loss: 0.5210 - accuracy: 0.7469
Epoch 177/200
268/268 [==============================] - 0s 827us/step - loss: 0.5207 - accuracy: 0.7471
Epoch 178/200
268/268 [==============================] - 0s 783us/step - loss: 0.5209 - accuracy: 0.7471
Epoch 179/200
268/268 [==============================] - 0s 755us/step - loss: 0.5204 - accuracy: 0.7473
Epoch 180/200
268/268 [==============================] - 0s 760us/step - loss: 0.5202 - accuracy: 0.7473
Epoch 181/200
268/268 [==============================] - 0s 777us/step - loss: 0.5204 - accuracy: 0.7471
Epoch 182/200
268/268 [==============================] - 0s 854us/step - loss: 0.5199 - accuracy: 0.7474
Epoch 183/200
268/268 [==============================] - 0s 822us/step - loss: 0.5199 - accuracy: 0.7472
Epoch 184/200
268/268 [==============================] - 0s 764us/step - loss: 0.5201 - accuracy: 0.7468
Epoch 185/200
268/268 [==============================] - 0s 794us/step - loss: 0.5208 - accuracy: 0.7469
Epoch 186/200
268/268 [==============================] - 0s 774us/step - loss: 0.5217 - accuracy: 0.7474
Epoch 187/200
268/268 [==============================] - 0s 828us/step - loss: 0.5213 - accuracy: 0.7461
Epoch 188/200
268/268 [==============================] - 0s 781us/step - loss: 0.5223 - accuracy: 0.7478
Epoch 189/200
268/268 [==============================] - 0s 772us/step - loss: 0.5207 - accuracy: 0.7474
Epoch 190/200
268/268 [==============================] - 0s 764us/step - loss: 0.5210 - accuracy: 0.7480
Epoch 191/200
268/268 [==============================] - 0s 761us/step - loss: 0.5210 - accuracy: 0.7478
Epoch 192/200

In [36]:
# Evaluate the model using the test data
model_loss_2, model_accuracy_2 = nn_2.evaluate(X_test_scaled_2,y_test_2,verbose=2)
print(f"Loss: {model_loss_2}, Accuracy: {model_accuracy_2}")

268/268 - 0s - loss: 0.5186 - accuracy: 0.7481 - 141ms/epoch - 525us/step
Loss: 0.51863694190979, Accuracy: 0.7481049299240112

As we can see our orignial model, without increasing the amount of values for the bins, performed better with the increased amount of apochs. The original model scored **0.7481** versus **0.7433** with the increased amount of values for each of the relevant bins.

----

### (3) Optimising the model by increasing the amount of hidden layers and neurons

In [37]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df_3 = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df_3.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [38]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_3.drop(columns=['EIN', 'NAME'], axis=1, inplace=True)

In [39]:
# Determine the number of unique values in each column.
application_df_3.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [40]:
# Look at APPLICATION_TYPE value counts for binning
application_df_3['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace_3 = list(application_df_3['APPLICATION_TYPE'].value_counts().index[8:])

# Replace in dataframe
for app in application_types_to_replace_3:
    application_df_3['APPLICATION_TYPE'] = application_df_3['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df_3['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts for binning
application_df_3['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [43]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df_3['CLASSIFICATION'].value_counts().loc[application_df_3['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [44]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace_3 = list(application_df_3['CLASSIFICATION'].value_counts().index[5:])

# Replace in dataframe
for cls in classifications_to_replace_3:
    application_df_3['CLASSIFICATION'] = application_df_3['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df_3['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [45]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df_3 = pd.get_dummies(application_df_3)

In [46]:
# Split our preprocessed data into our features and target arrays
X_3 = dummy_df_3.drop(columns='IS_SUCCESSFUL', axis=1)
y_3 = dummy_df_3['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train_3, X_test_3, y_train_3, y_test_3 = train_test_split(X_3, y_3, random_state=1)

In [47]:
# Create a StandardScaler instances
scaler_3 = StandardScaler()

# Fit the StandardScaler
X_scaler_3 = scaler_3.fit(X_train_3)

# Scale the data
X_train_scaled_3 = X_scaler_3.transform(X_train_3)
X_test_scaled_3 = X_scaler_3.transform(X_test_3)

In [48]:
X_train_scaled_3.shape

(25724, 43)

In [49]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
model_3_hidden_layer_1 = 100
model_3_hidden_layer_2 = 40
model_3_hidden_layer_3 = 10
model_3_hidden_layer_4 = 3

model_3_output_layer = 1 


nn_3 = tf.keras.models.Sequential()

# First hidden layer
nn_3.add(tf.keras.layers.Dense(units=model_3_hidden_layer_1, activation='relu',input_dim=len(X_3.columns)))

# Second hidden layer
nn_3.add(tf.keras.layers.Dense(units=model_3_hidden_layer_2, activation='tanh'))

# Third hidden layer
nn_3.add(tf.keras.layers.Dense(units=model_3_hidden_layer_3, activation='leaky_relu'))

# Forth hidden layer
nn_3.add(tf.keras.layers.Dense(units=model_3_hidden_layer_4, activation='leaky_relu'))

# Output layer
nn_3.add(tf.keras.layers.Dense(units=model_3_output_layer, activation='sigmoid'))

# Check the structure of the model
nn_3.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 100)               4400

 dense_7 (Dense)             (None, 40)                4040

 dense_8 (Dense)             (None, 10)                410

 dense_9 (Dense)             (None, 3)                 33

 dense_10 (Dense)            (None, 1)                 4

=================================================================
Total params: 8,887
Trainable params: 8,887
Non-trainable params: 0
_________________________________________________________________

In [50]:
# Compile the model
nn_3.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Define a callback to save the model's weights every five epochs
checkpoint_filepath_3 = 'model_weights.h5'
model_checkpoint_callback_3 = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_filepath_3,
    save_weights_only=True,
    save_freq = 5 * len(X_train_scaled_3) // 32)  # Save every five epochs

In [51]:
# Train the model
nn_3.fit(X_test_scaled_3, y_test_3, epochs=100)

Epoch 1/100
268/268 [==============================] - 1s 875us/step - loss: 0.6024 - accuracy: 0.7102
Epoch 2/100
268/268 [==============================] - 0s 873us/step - loss: 0.5646 - accuracy: 0.7286
Epoch 3/100
268/268 [==============================] - 0s 886us/step - loss: 0.5569 - accuracy: 0.7296
Epoch 4/100
268/268 [==============================] - 0s 1000us/step - loss: 0.5540 - accuracy: 0.7300
Epoch 5/100
268/268 [==============================] - 0s 894us/step - loss: 0.5510 - accuracy: 0.7332
Epoch 6/100
268/268 [==============================] - 0s 873us/step - loss: 0.5499 - accuracy: 0.7326
Epoch 7/100
268/268 [==============================] - 0s 872us/step - loss: 0.5480 - accuracy: 0.7342
Epoch 8/100
268/268 [==============================] - 0s 972us/step - loss: 0.5476 - accuracy: 0.7347
Epoch 9/100
268/268 [==============================] - 0s 897us/step - loss: 0.5457 - accuracy: 0.7336
Epoch 10/100
268/268 [==============================] - 0s 897us/step - loss: 0.5453 - accuracy: 0.7359
Epoch 11/100
268/268 [==============================] - 0s 929us/step - loss: 0.5451 - accuracy: 0.7377
Epoch 12/100
268/268 [==============================] - 0s 896us/step - loss: 0.5433 - accuracy: 0.7367
Epoch 13/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5427 - accuracy: 0.7381
Epoch 14/100
268/268 [==============================] - 0s 968us/step - loss: 0.5426 - accuracy: 0.7368
Epoch 15/100
268/268 [==============================] - 0s 907us/step - loss: 0.5413 - accuracy: 0.7399
Epoch 16/100
268/268 [==============================] - 0s 954us/step - loss: 0.5401 - accuracy: 0.7391
Epoch 17/100
268/268 [==============================] - 0s 912us/step - loss: 0.5405 - accuracy: 0.7405
Epoch 18/100
268/268 [==============================] - 0s 965us/step - loss: 0.5402 - accuracy: 0.7396
Epoch 19/100
268/268 [==============================] - 0s 921us/step - loss: 0.5386 - accuracy: 0.7388
Epoch 20/100
268/268 [==============================] - 0s 918us/step - loss: 0.5392 - accuracy: 0.7408
Epoch 21/100
268/268 [==============================] - 0s 881us/step - loss: 0.5384 - accuracy: 0.7389
Epoch 22/100
268/268 [==============================] - 0s 922us/step - loss: 0.5382 - accuracy: 0.7411
Epoch 23/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5371 - accuracy: 0.7415
Epoch 24/100
268/268 [==============================] - 0s 909us/step - loss: 0.5369 - accuracy: 0.7403
Epoch 25/100
268/268 [==============================] - 0s 939us/step - loss: 0.5362 - accuracy: 0.7419
Epoch 26/100
268/268 [==============================] - 0s 929us/step - loss: 0.5362 - accuracy: 0.7398
Epoch 27/100
268/268 [==============================] - 0s 919us/step - loss: 0.5352 - accuracy: 0.7424
Epoch 28/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5349 - accuracy: 0.7410
Epoch 29/100
268/268 [==============================] - 0s 952us/step - loss: 0.5354 - accuracy: 0.7418
Epoch 30/100
268/268 [==============================] - 0s 917us/step - loss: 0.5349 - accuracy: 0.7408
Epoch 31/100
268/268 [==============================] - 0s 938us/step - loss: 0.5341 - accuracy: 0.7406
Epoch 32/100
268/268 [==============================] - 0s 911us/step - loss: 0.5333 - accuracy: 0.7426
Epoch 33/100
268/268 [==============================] - 0s 992us/step - loss: 0.5337 - accuracy: 0.7416
Epoch 34/100
268/268 [==============================] - 0s 903us/step - loss: 0.5335 - accuracy: 0.7431
Epoch 35/100
268/268 [==============================] - 0s 938us/step - loss: 0.5330 - accuracy: 0.7427
Epoch 36/100
268/268 [==============================] - 0s 910us/step - loss: 0.5325 - accuracy: 0.7425
Epoch 37/100
268/268 [==============================] - 0s 932us/step - loss: 0.5334 - accuracy: 0.7433
Epoch 38/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5325 - accuracy: 0.7427
Epoch 39/100
268/268 [==============================] - 0s 914us/step - loss: 0.5312 - accuracy: 0.7437
Epoch 40/100
268/268 [==============================] - 0s 897us/step - loss: 0.5322 - accuracy: 0.7436
Epoch 41/100
268/268 [==============================] - 0s 916us/step - loss: 0.5318 - accuracy: 0.7450
Epoch 42/100
268/268 [==============================] - 0s 965us/step - loss: 0.5318 - accuracy: 0.7422
Epoch 43/100
268/268 [==============================] - 0s 935us/step - loss: 0.5306 - accuracy: 0.7434
Epoch 44/100
268/268 [==============================] - 0s 959us/step - loss: 0.5311 - accuracy: 0.7437
Epoch 45/100
268/268 [==============================] - 0s 918us/step - loss: 0.5301 - accuracy: 0.7438
Epoch 46/100
268/268 [==============================] - 0s 902us/step - loss: 0.5306 - accuracy: 0.7431
Epoch 47/100
268/268 [==============================] - 0s 952us/step - loss: 0.5305 - accuracy: 0.7451
Epoch 48/100
268/268 [==============================] - 0s 924us/step - loss: 0.5299 - accuracy: 0.7445
Epoch 49/100
268/268 [==============================] - 0s 897us/step - loss: 0.5298 - accuracy: 0.7448
Epoch 50/100
268/268 [==============================] - 0s 883us/step - loss: 0.5293 - accuracy: 0.7440
Epoch 51/100
268/268 [==============================] - 0s 893us/step - loss: 0.5301 - accuracy: 0.7445
Epoch 52/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5291 - accuracy: 0.7453
Epoch 53/100
268/268 [==============================] - 0s 920us/step - loss: 0.5292 - accuracy: 0.7441
Epoch 54/100
268/268 [==============================] - 0s 921us/step - loss: 0.5290 - accuracy: 0.7436
Epoch 55/100
268/268 [==============================] - 0s 944us/step - loss: 0.5280 - accuracy: 0.7445
Epoch 56/100
268/268 [==============================] - 0s 905us/step - loss: 0.5284 - accuracy: 0.7436
Epoch 57/100
268/268 [==============================] - 0s 978us/step - loss: 0.5290 - accuracy: 0.7436
Epoch 58/100
268/268 [==============================] - 0s 890us/step - loss: 0.5279 - accuracy: 0.7444
Epoch 59/100
268/268 [==============================] - 0s 902us/step - loss: 0.5284 - accuracy: 0.7450
Epoch 60/100
268/268 [==============================] - 0s 927us/step - loss: 0.5271 - accuracy: 0.7437
Epoch 61/100
268/268 [==============================] - 0s 923us/step - loss: 0.5280 - accuracy: 0.7437
Epoch 62/100
268/268 [==============================] - 0s 1ms/step - loss: 0.5273 - accuracy: 0.7439
Epoch 63/100
268/268 [==============================] - 0s 914us/step - loss: 0.5275 - accuracy: 0.7440
Epoch 64/100
268/268 [==============================] - 0s 901us/step - loss: 0.5278 - accuracy: 0.7443
Epoch 65/100
268/268 [==============================] - 0s 893us/step - loss: 0.5263 - accuracy: 0.7450
Epoch 66/100
268/268 [==============================] - 0s 881us/step - loss: 0.5266 - accuracy: 0.7448
Epoch 67/100
268/268 [==============================] - 0s 941us/step - loss: 0.5263 - accuracy: 0.7444
Epoch 68/100
268/268 [==============================] - 0s 885us/step - loss: 0.5269 - accuracy: 0.7437
Epoch 69/100
268/268 [==============================] - 0s 900us/step - loss: 0.5261 - accuracy: 0.7448
Epoch 70/100
268/268 [==============================] - 0s 892us/step - loss: 0.5266 - accuracy: 0.7444
Epoch 71/100
268/268 [==============================] - 0s 893us/step - loss: 0.5263 - accuracy: 0.7455
Epoch 72/100
268/268 [==============================] - 0s 910us/step - loss: 0.5264 - accuracy: 0.7452
Epoch 73/100
268/268 [==============================] - 0s 957us/step - loss: 0.5255 - accuracy: 0.7447
Epoch 74/100
268/268 [==============================] - 0s 922us/step - loss: 0.5260 - accuracy: 0.7451
Epoch 75/100
268/268 [==============================] - 0s 900us/step - loss: 0.5257 - accuracy: 0.7440
Epoch 76/100
268/268 [==============================] - 0s 980us/step - loss: 0.5254 - accuracy: 0.7447
Epoch 77/100
268/268 [==============================] - 0s 977us/step - loss: 0.5253 - accuracy: 0.7467
Epoch 78/100
268/268 [==============================] - 0s 937us/step - loss: 0.5248 - accuracy: 0.7452
Epoch 79/100
268/268 [==============================] - 0s 904us/step - loss: 0.5256 - accuracy: 0.7447
Epoch 80/100
268/268 [==============================] - 0s 899us/step - loss: 0.5246 - accuracy: 0.7452
Epoch 81/100
268/268 [==============================] - 0s 894us/step - loss: 0.5248 - accuracy: 0.7458
Epoch 82/100
268/268 [==============================] - 0s 961us/step - loss: 0.5245 - accuracy: 0.7458
Epoch 83/100
268/268 [==============================] - 0s 876us/step - loss: 0.5242 - accuracy: 0.7465
Epoch 84/100
268/268 [==============================] - 0s 894us/step - loss: 0.5239 - accuracy: 0.7452
Epoch 85/100
268/268 [==============================] - 0s 906us/step - loss: 0.5241 - accuracy: 0.7458
Epoch 86/100
268/268 [==============================] - 0s 907us/step - loss: 0.5246 - accuracy: 0.7458
Epoch 87/100
268/268 [==============================] - 0s 952us/step - loss: 0.5250 - accuracy: 0.7468
Epoch 88/100
268/268 [==============================] - 0s 882us/step - loss: 0.5241 - accuracy: 0.7464
Epoch 89/100
268/268 [==============================] - 0s 894us/step - loss: 0.5250 - accuracy: 0.7454
Epoch 90/100
268/268 [==============================] - 0s 895us/step - loss: 0.5242 - accuracy: 0.7453
Epoch 91/100
268/268 [==============================] - 0s 874us/step - loss: 0.5238 - accuracy: 0.7464
Epoch 92/100
268/268 [==============================] - 0s 932us/step - loss: 0.5238 - accuracy: 0.7458
Epoch 93/100
268/268 [==============================] - 0s 890us/step - loss: 0.5242 - accuracy: 0.7461
Epoch 94/100
268/268 [==============================] - 0s 906us/step - loss: 0.5237 - accuracy: 0.7458
Epoch 95/100
268/268 [==============================] - 0s 881us/step - loss: 0.5238 - accuracy: 0.7455
Epoch 96/100
268/268 [==============================] - 0s 902us/step - loss: 0.5233 - accuracy: 0.7453
Epoch 97/100
268/268 [==============================] - 0s 934us/step - loss: 0.5229 - accuracy: 0.7447
Epoch 98/100
268/268 [==============================] - 0s 876us/step - loss: 0.5235 - accuracy: 0.7467
Epoch 99/100
268/268 [==============================] - 0s 874us/step - loss: 0.5232 - accuracy: 0.7464
Epoch 100/100
268/268 [==============================] - 0s 879us/step - loss: 0.5233 - accuracy: 0.7460

In [52]:
# Evaluate the model using the test data
model_loss_3, model_accuracy_3 = nn_3.evaluate(X_test_scaled_3,y_test_3,verbose=2)
print(f"Loss: {model_loss_3}, Accuracy: {model_accuracy_3}")

268/268 - 0s - loss: 0.5208 - accuracy: 0.7471 - 229ms/epoch - 856us/step
Loss: 0.5208185911178589, Accuracy: 0.7470554113388062

Interestingly, even with an increased number of hidden layers, the accuracy score of the model didn't improve. The original model, with an increased number of epochs, scored slightly better with **0.7481** compared to **0.7470** for the model with the increased number of hidden layers. This could potentially be explained by the fact that increasing the number of hidden layers in our model also increases the complexity of the model.

----

### (4) Optimising the model by using different activation functions

In [53]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt


#  Import and read the charity_data.csv.
import pandas as pd 
application_df_4 = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df_4.head()

Using TensorFlow backend

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [54]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df_4.drop(columns=['EIN', 'NAME'], axis=1, inplace=True)

In [55]:
# Determine the number of unique values in each column.
application_df_4.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [56]:
# Look at APPLICATION_TYPE value counts for binning
application_df_4['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [57]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace_4 = list(application_df_4['APPLICATION_TYPE'].value_counts().index[8:])

# Replace in dataframe
for app in application_types_to_replace_4:
    application_df_4['APPLICATION_TYPE'] = application_df_4['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df_4['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [58]:
# Look at CLASSIFICATION value counts for binning
application_df_4['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [59]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df_4['CLASSIFICATION'].value_counts().loc[application_df_4['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [60]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace_4 = list(application_df_4['CLASSIFICATION'].value_counts().index[5:])

# Replace in dataframe
for cls in classifications_to_replace_4:
    application_df_4['CLASSIFICATION'] = application_df_4['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df_4['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [61]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df_4  = pd.get_dummies(application_df_4)

In [62]:
# Split our preprocessed data into our features and target arrays
X_4 = dummy_df_4.drop(columns='IS_SUCCESSFUL', axis=1)
y_4 = dummy_df_4['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train_4, X_test_4, y_train_4, y_test_4 = train_test_split(X_4, y_4, random_state=1)

In [63]:
# Create a StandardScaler instances
scaler_4 = StandardScaler()

# Fit the StandardScaler
X_scaler_4 = scaler_4.fit(X_train_4)

# Scale the data
X_train_scaled_4 = X_scaler_4.transform(X_train_4)
X_test_scaled_4 = X_scaler_4.transform(X_test_4)

In [64]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    # * instantiate a new Sequential model
    nn_model = tf.keras.Sequential()
    
    # * Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid', 'leaky_relu'])

    # * Number of units for the first hidden layer (80 units in the provided model)
    nn_model.add(tf.keras.layers.Dense(units=80, activation=activation, input_dim=len(X_4.columns)))
    
    # * Number of units for the second hidden layer (30 units in the provided model)
    nn_model.add(tf.keras.layers.Dense(units=30, activation=activation))
    
    # * Adding the output layer
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # * Complie the model
    nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy']) 

    return nn_model

In [65]:
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=100,
    hyperband_iterations=2)

Reloading Tuner from ./untitled_project/tuner0.json

In [66]:
# Run the kerastuner search for best hyperparameters with 100 epochs for each configuration
tuner.search(X_train_scaled_4,
             y_train_4, epochs=100,
             validation_data=(X_test_scaled_4, y_test_4),
             callbacks=[tf.keras.callbacks.EarlyStopping('val_accuracy', patience=10)])

In [67]:
# Get top 3 model hyperparameters and print the values
top_hyper = tuner.get_best_hyperparameters(4)
for param in top_hyper:
    print(param.values)

{'activation': 'tanh', 'tuner/epochs': 2, 'tuner/initial_epoch': 0, 'tuner/bracket': 4, 'tuner/round': 0}
{'activation': 'relu', 'tuner/epochs': 2, 'tuner/initial_epoch': 0, 'tuner/bracket': 4, 'tuner/round': 0}
{'activation': 'leaky_relu', 'tuner/epochs': 2, 'tuner/initial_epoch': 0, 'tuner/bracket': 4, 'tuner/round': 0}
{'activation': 'sigmoid', 'tuner/epochs': 2, 'tuner/initial_epoch': 0, 'tuner/bracket': 4, 'tuner/round': 0}

In [69]:
# Evaluate the top 3 models against the test dataset
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled_4,y_test_4,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.iter
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.decay
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.learning_rate
WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.iter
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.decay
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.learning_rate
WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.iter
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_1
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.beta_2
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.decay
WARNING:tensorflow:Value in checkpoint could not be found in the restored object: (root).optimizer.learning_rate
268/268 - 0s - loss: 0.5583 - accuracy: 0.7307 - 249ms/epoch - 930us/step
Loss: 0.5583305358886719, Accuracy: 0.7307288646697998
268/268 - 0s - loss: 0.5557 - accuracy: 0.7306 - 249ms/epoch - 931us/step
Loss: 0.5556564927101135, Accuracy: 0.7306122183799744
268/268 - 0s - loss: 0.5602 - accuracy: 0.7299 - 251ms/epoch - 936us/step
Loss: 0.5601853132247925, Accuracy: 0.729912519454956

In [70]:
# Get second best model hyperparameters
first_hyper = tuner.get_best_hyperparameters(2)[0]
first_hyper.values

{'activation': 'tanh',
 'tuner/epochs': 2,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 4,
 'tuner/round': 0}

In [71]:
top_model = tuner.get_best_models(1)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled_4,y_test_4,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5583 - accuracy: 0.7307 - 246ms/epoch - 918us/step
Loss: 0.5583305358886719, Accuracy: 0.7307288646697998

As we can see, changing the activation functions in our model also didn't improve the performance of the model relative to the original model with increased amount of apochs. So we can conclude that the original model with the increased amount of apochs performed the best with accuracy score of **0.7470**.

In [72]:
# Export our optimised model to HDF5 file
nn_2.save('AlphabetSoupCharity_Optimisation.h5')